* {
  margin: 50;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: #f4f4f4;
  padding: 1rem;
  text-align: center;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}

.br {
    margin: 12px;
}

.troops {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.fren, .enemy {
    border: 1px solid #f4f4f4;
    width: 210px;
    height: 165px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
    padding: 4px 0px;
}

.fren:hover {
    cursor: pointer;
    background: red;
}

.icon {
    width: 200px;
    height: 155px;
}

.board {
    border: 3px solid #f4f4f4;
    width: 230px;
    height: 255px;
    border-radius: 2px;
    text-align: center;
    margin: 12px auto;
    padding: 60px 0px;
}

.score {
    text-align: center;
}

.status {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
}

.tmpStatus {
    text-align: center;
    font-size: 250%;
    font-weight: bold;
    opacity: 0;
    transition: opacity .3s ease;
}

.tmpStatus.show {
    opacity: 1;
}

.hidden {
    opacity: 0
}

.hidden.show {
    opacity: 1
}

#battleTime {
    width:580px;
    height: 50px;
    background-color: grey;
}

#battleTimeUsed {
    width: 0%;
    height: 50px;
    background-color: green;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px 15px;
  border: 0;
  background: #333;
  color: #fff;
  border-radius: 5px;
  margin: 5px 0;
}

.btn:hover {
  background: #444;
}

.bg-dark {
  background: #333;
  color: #fff;
}